<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Socio</title>
</head>
<body>
    <h1>Detalle del socio</h1>
    <ul>
        <li><strong>Nombre:</strong> {{ socio.nombre }}</li>
        <li><strong>Apellidos:</strong> {{ socio.apellidos }}</li>
        <li><strong>DNI:</strong> {{ socio.dni }}</li>
        <li><strong>Dirección:</strong> {{ socio.direccion }}</li>
        <li><strong>Ciudad:</strong> {{ socio.ciudad }}</li>
        <li><strong>Provincia:</strong> {{ socio.provincia }}</li>
        <li><strong>País:</strong> {{ socio.pais }}</li>
    </ul>
</body>
</html>